{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom'>SKILLS</h1>

    <div class='row text-white'>
       
        <div class='col-sm-10'>
            <h3 class='mt-2'>Technical Skills</h3>
            <p>Python, Data analytics, Statistical analysis, Machine Learning, Deep Learning, Computer
                vision, NLP, YOLO, Deep Sort, Transformer, OpenMMlab toolkit, Web scraping, Model
                Deployment, Model integration, Hureko, Amazon SageMaker, AWS, Flask, PowerBI, Excel,
                SQL Database.
                </p>
        </div>

        <div class='col-sm-10'>
            <h3 class='mt-2'>Soft Skills</h3>
            <p>Self-Learning, Problem Solving, Critical thinking, Interpersonal Skill</p>
        </div>

        <div class='col-sm-10'>
            <h3 class='mt-2'>Machine Learning Skill</h3>
            <p>Self-Learning, Problem Solving, Critical thinking, Interpersonal Skill</p>
        </div>

                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

    </div>
    
    </div>    
{% endblock 'content' %}