{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom'>EDUCATION</h1>

    <div class='row text-white'>
       
        <div class='col-sm-9'>
            <h4 class='mt-5'>National University of Science & Technology, Pakistan</h4>
            <h5>Master  in Data Science</h5>
            <h5>Major:  Data Science</h5>
            
        </div>

        <div class='col-sm-2 mt-5'>
            <h4 class='mt-2'>2023-Present</h4>
        </div>


        <div class='col-sm-9'>
            <h4 class='mt-4'>University of Engineering and Technology Peshawar, Pakistan</h4>
            <h5>Bachelor of Computer Systems Engineering</h5>
            <h5>Major:  Computer</h5>
            <h6>Thesis:  Anomaly Detection from Video Streams Using Deep Learning techniques</h6>
            <h6>Achievement: Department Topper</h6>
        </div>

        <div class='col-sm-2 mt-5'>
            <h4 class='mt-2'>2018-2022</h4>
            <h4 class='mt-2'>GPA (3.74)</h4>
            <p>Department Toper</p>
        </div>

        <div>

        </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
    </div>
    
    </div>    
{% endblock 'content' %}