{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom'>EDUCATION</h1>

    <div class='row text-white'>
       
        <div class='col-sm-9'>
            <h4 class='mt-5'>National University of Science & Technology <b class='text-warning'>(NUST)</b></h4>
            <h5>Master  in Data Science</h5>
            <h5>Major:  Data Science</h5>
            
        </div>

        <div class='col-sm-2 mt-5'>
            <h4 class='mt-2'>2023-Present</h4>
        </div>


        <div class='col-sm-9'>
            <h4 class='mt-4'>Kohat University Science and Technology (KUST)</h4>
            <h5>Bachelor of Software Engineering</h5>
            <h5>Major:  Computer</h5>
            <h6>FYP: Traffic Signs Recognition and Speed Control for
                Self Driving Car</h6>
        </div>

        <div class='col-sm-2 mt-5'>
            <h4 class='mt-2'>2019-2023</h4>
            <h4 class='mt-2'>GPA (3.22)</h4>
        </div>

        <div>

        </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
    </div>
    
    </div>    
{% endblock 'content' %}