{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom'>PROJECTS</h1>

    <div class='row text-white'>
       
        <div class='col-sm-10'>
            <h4 class='mt-2'>ML and DL Projects:</h4>
            <ul>
                <li>Completed regression, classification, clustering and time series projects in Python using ScikitLearn. Codes are available <a href="https://github.com/ayazmhmd/Machine-Learning" class=''>here</a> on the GitHub.</li>
                <li>Implemented CNN and transformed based Model on images and videos. Good knowledge of
                    Image segmentation, classification and Detection. Experience in NLP for sentiment analysis
                    and text classification. All codes are available <a href="https://github.com/ayazmhmd/Deep-Learning" class=''>here</a> on the GitHub.</li>
                <li>Experience in Kaggle competition in Natural language processing, machine learning,
                    computer vision and forecasting.</li>
                <li>Utilized statistical methods and visualization techniques to identify patterns, trends, and
                    outliers in the data, leading to insights that informed business decisions.</li>
                <li>Developed custom scripts and tools to automate data cleaning and preprocessing tasks,
                    improving the efficiency and accuracy of the EDA process. Codes are available in my GitHub
                    repositories <a href="https://github.com/ayazmhmd?tab=repositories" class=''>link</a>.
                    </li>
              </ul>
            
        </div>

        <div class='col-sm-10'>
            <h4>Research Projects</h4>
            <p class='mx-4'>
                Anomaly Detection from Video Streams Using Deep Learning techniques (FYP)
                Arrhythmia Detection from ECG Signal Using Deep Learning Techniques (Research Project)
                Multimedia Analysis of Disaster-Related Social Media Data (Researh Proejcts)
                Early Detection of Alzheimer's disease using vision Transformer.
            </p>
        </div>


        <div class='col-sm-10'>
            <h4>Model APIs and Deployment</h4>
            <ul>
                <li>Served Flask ML and DL APIs on Hureko Server.</li>
                <li>Created Flask API for Multiple projects of classification, segmentation and detection.</li>
                <li>Yolov5 models Development and Flask Deployment</li>
                <li>Integrated different models into flutter app by using tflite and also connected with Flask API.</li>
                <li>Deployed of ML Model on AWS Server (Amazon Sage Maker)</li>
              </ul>
        </div>

        <div class='col-sm-10'>
            <h4>Web Development and Web Scrapping</h4>
            <ul>
                <li>Designed and developed an online resume builder using PHP and SQL database.</li>
                <li>Product management system for medical store for a client using Laravel and SQL database.</li>
                <li>Scraped different websites (Twitter mostly) using Scrapy, beautiful soup, and Parse hub. </li>
                <li>Scraped product data across different domains for analysis from online shopping websites.</li>
              </ul>
        </div>


    </div>
    
    </div>    
{% endblock 'content' %}