{% extends "base.html" %}
{% load static %}
{% block 'content' %}
    <div class='mt-5 px-5'>
        <h1 class='text-warning mb-5 border-bottom'>SERVICE</h1>

        <div class='row text-white mb-3 text-center'>
            
            <div class='col-sm-4'>
                <i class="fa-solid fa-dice-d20 fa-2x mb-3 i-color"></i>
                <h3>Data Science</h3>
                <p class='ss-color'>Transforming data into knowledge,<br>solutions through the artful science.</p>
            </div>

            <div class='col-sm-4'>
                <i class="fa fa-cogs fa-2x mb-3 i-color"></i>
                <h3>Machine Learning</h3>
                <p class='ss-color'>Architecting the future with intelligent solutions powered by machine learning.</p>
            </div>


            <div class='col-sm-4'>
                <i class="fas fa-robot fa-2x mb-3 i-color"></i>
                <h3>Internet of Things (IOT)</h3>
                <p class='ss-color'>Crafting transformative IoT projects for a smarter, connected world</p>
            </div>


            <div class='col-sm-4'>
                <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
                <h3>MySQL</h3>
                <p class='ss-color'>Empowering applications with robust data management using the MySQL platform.</p>
            </div>

            <div class='col-sm-4'>
                <i class="fa-solid fa-laptop-file fa-2x mb-3 i-color"></i>
                <h3>Data Scraping</h3>
                <p class='ss-color'>Unleashing insights through precise data scraping for informed decision-making</p>
            </div>


            <div class='col-sm-4'>
                <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
                <h3>Django</h3>
                <p class='ss-color'>Building impactful solutions with Django, shaping the future of web.</p>
            </div>


            <div class='col-sm-4'>
                <i class="fa fa-cogs  fa-2x i-color mb-3" aria-hidden="true"></i>
                <h3>APIs</h3>
                <p class='ss-color'>Connect applications, share data, streamline functionality, enabling seamless integration.</p>
            </div>

            <div class='col-sm-4'>
                <i class="fa-brands fa-codiepie fa-2x mb-3 i-color"></i>
                <h3>Automation</h3>
                <p class='ss-color'>Efficiency redefined through powerful automation solutions.</p>
            </div>


            <div class='col-sm-4'>
                <i class="fa-solid fa-chart-column fa-2x mb-3 i-color"></i>
                <h3>Data Visualization</h3>
                <p class='ss-color'>Bringing data to life through captivating and insightful visualizations.</p>
            </div>



        </div>



    </div>
{% endblock 'content' %}