/* body{
    background-color:#00AB9D;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    padding-top: 120px;
}
*/

/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-content {
    text-align: center;
}
