
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Enroll/style.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <form action="" method='POST'>
         {% csrf_token %}
         <table class='centered-table'>
            {{my_form}}
         </table>
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'Show-Data' %}">Show Data</a>   
</body>
</html>