<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    {% block 'maincss' %}
           <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock 'maincss' %}

</head>
<body>
        <div class='container'>

            <div class = 'row justify-content-md-center'>
                <div class='col-5 mt-5'>
                    <h1>Upload File CSV</h1>
                </div>
            </div>

            

            <div class='row justify-content-md-center'>
                <div class='col-sm-5 mt-6'>
                    <form action = '{% url "display" %}' class="mt-3" method='POST' enctype='multipart/form-data'>
                        {% csrf_token %}
                    <input class="form-control" type="file" name = 'file' id="formFile">
                    <button type="submit" class="btn btn-success mt-4 mx-2 col-5 ">Show</button>
                    </form>
                </div>

            </div>
        </div>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/boostrap.js' %}"></script>

</body>
</html>
