<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Enroll/style.css' %}">
</head>
<body>
    <h1>This is the Home Page</h1>
    <form action="{% url 'Home' my_id %}" method='POST' class="my_Form">
        {% csrf_token %}
            {{my_form.as_p}}
        <input type="submit" value="Submit">
    </form>
</body>
</html>