{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom'>SKILLS</h1>

    <div class='row text-white'>
       
        <div class='col-sm-10'>
            <h3 class='mt-2'>Technical Skills</h3>
            <p>Python, Data analytics, Statistical analysis, Machine Learning, Deep Learning, Computer
                vision, NLP, YOLO, Deep Sort, Transformer, Web scraping, Automation, Model
                Deployment, Model integration, Hureko, pythonanywhere.com, RestAPIs, Django, Flask, PowerBI, Excel, Java,
                HTML/CSS, SQL Database.
                </p>
        </div>

        <div class='col-sm-10'>
            <h3 class='mt-2'>Soft Skills</h3>
            <p>Communication, Collaboration, Self-Learning,  Problem-Solving, Critical Thinking, Adaptability, Time Management</p>  
        </div>

        <div class='col-sm-10'>
            <h3 class='mt-2'>Machine Learning Skills</h3>
            <p>Understanding of Machine Learning Concepts, Data Preprocessing, Feature Engineering, Model Selection , Model Evaluation, Hyperparameter tuning
                Cross-Validation, Ensemble Methods, Deep learning, Computer Vision, Deployment
            </p>
        </div>

                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

    </div>
    
    </div>    
{% endblock 'content' %}