{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom'>PROJECTS</h1>

    <div class='row text-white'>
       
        <div class='col-sm-10'>
            <h4 class='mt-2'>ML and DL Projects:</h4>
            <ul>
                <li>Traffic Sign Recognition, using a Convolutional Neural Network (CNN) to classify traffic signs. The model was trained and validated using images from the German Traffic Sign Dataset. <a href="https://github.com/ayazmhmd/Machine-Learning" class=''>here</a> on the GitHub.</li></li>
                <li>"Traffic Signs Recognition and Speed Control for Self-Driving Car" combines Raspberry Pi 4 hardware with deep learning CNN and OpenCV2 software for real-time detection and response to traffic signs <a href="https://github.com/ayazmhmd/Machine-Learning" class=''>here</a> on the GitHub.</li>
                <li>Optical Mark Recognition (OMR) in the process of automaticallyanalyzing human- marked documents and interpreting their results. <a href="https://github.com/ShahaB-AfriDy?tab=repositories" class=''>link</a></li>
                <li>"Meeting Transcriber" converts audio recordings of office meetings into text files, detailing meeting title, attendee count, and summary. It outputs in JSON and PDF formats for convenient access and sharing. <a href="https://github.com/ShahaB-AfriDy/Deep-Learning" class=''> here</a></li>
                <li>Experience in Codewar competition in Data Science and Machine learning problems,
                    Maths problems. <a href="https://www.codewars.com/users/Shahab_AfriDi">here</a></li>
                <li>Utilized statistical methods and visualization techniques to identify patterns, trends, and
                    outliers in the data, leading to insights that informed business decisions.</li>
                <li>Developed custom scripts and tools to automate data cleaning and preprocessing tasks,
                    improving the efficiency and accuracy of the EDA process. Codes are available in my GitHub
                    repositories <a href="https://github.com/ShahaB-AfriDy?tab=repositories" class=''>link</a>.
                    </li>
              </ul>
            
        </div>

        <div class='col-sm-10'>
            <h4>Research Projects</h4>
            <p class='mx-4'>
                Traffic Signs Recognition and Speed Control for Self Driving Car (FYP)<br>
                Sentiment Anaysis of Tweets (Research Project)<br>
                Air quality predictor (Research Proejcts)<br>
                Disease Predictor WebApp.
            </p>
        </div>


        <div class='col-sm-10'>
            <h4>Model APIs and Deployment</h4>
            <ul>
                <li>Served Django and Flask ML and DL APIs on Hureko Server.</li>
                <li>Created Django and Flask API for Multiple projects of classification, segmentation and detection.(pythonanywhere.com)</li>
                <li>Yolov5 models Development and Django Deployment (pythonanywhere.com)</li>
                <li>Disease Predictor WebApp Django API.</li>
                <li>Deployed of ML Model on hosting plotform (pythonanywhere.com)</li>
              </ul>
        </div>

        <div class='col-sm-10'>
            <h4>Web Development and Web Scrapping</h4>
            <ul>
                <li>Designed and developed an online resume builder using Django and SQL database.</li>
                <li>Personal Blogsite Using Django and HTML/CSS/Java/Bootstrap.</li>
                <li>Scraped different websites (Twitter mostly) using Scrapy, beautiful soup, and Selenium. </li>
                <li>Scraped product data across different domains for analysis from online shopping websites.</li>
              </ul>
        </div>


    </div>
    
    </div>    
{% endblock 'content' %}