{% extends "Enroll/base.html" %}
    
{% block 'My_Title' %}<title>Update</title>{% endblock 'My_Title' %}


{% block 'content' %}
<div class='row'>
    <div class="col-sm-4 offset-4">
        <h3 class="text-center alert alert-info">Update Students Record</h3>   
        <form action="" method ='POST'> {% csrf_token %}
            {{student_form.as_p}}
            <input type="submit" class='btn btn-success' value="Update">
            <a href="{% url 'Home' %}" class='btn btn-primary'>Back</a>
        </form>        
        
</div>
</div>

{% endblock 'content' %}