<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Enroll/Style.css' %}">
    <title>Show Data</title>
</head>
<body>
    <h2>This is the Show Data Page</h2>
    <div>
        <a href="{% url 'Home' %}">Home</a>
    </div>
    <h1>
        {% if num == 1%}
            One:  {{num}}
        {% elif  num == 2 %}
            Two:  {{num}}
        {% else %}
            Three: {{num}}
        {% endif %}
    </h1>
</body>
</html>