{% extends "base.html" %}

{% block 'content' %}
<div class='container mt-5 px-5'>
    <h1 class='text-warning mb-3 border-bottom '>PROFESSIONAL EXPRERIENCE</h1>

    <div class='row text-white'>
       
        <div class='col-sm-9'>
            <h4 class='mt-2'>Glowlogix</h4>
            <h4 class='mt-2'>Data Science and Machine learning Engineer</h4>
            <ul>
                <li>Developed and deployed Resume Parser (Annotation+Modeling+API+Deployment)</li>
                <li>Face Recognition Module Development and deployment.</li>
                <li>Research and development of Chatbot using LLMs.</li>
            </ul>
        </div>
        
        <div class='col-sm-3 mt-2'>
            <h5>July 2023 – Present</h5>
        </div>

        <div class='col-sm-9'>
            <h4>Medical Imaging and Diagnostic Lab (NCAI)</h4>
            <h4>Research Assistant</h4>
            <ul>
                <li>Working on different projects of Medical Imaging (Breast Cancer, TB, Brain tumor)</li>
                <li>Tried Different AI Models on Medical image classification, detection and segmentation.</li>
                <li>Organized different Event related to Artificial Intelligence including Seminars, Workshop and presentation.</li>
            </ul>
        </div>

        <div class='col-sm-3'>
            <h5>Oct 2022 – July 2023</h5>
        </div>

    
        <div class='col-sm-9'>
            <h4>Smart IOT Lab (NCCS)</h4>
            <h4>AI Research Scholar</h4>
            <ul>
                <li>Designed and tested new AI systems for Industrial applications and coordinated with other
                    engineers and programmers to meet deadlines of our weekly work progress.</li>
                <li>Devised AI based System for real time attendance mark using face recognition.</li>
            </ul>
        </div>

        <div class='col-sm-3'>
            <h5>April 2022 –Oct 2022</h5>
        </div>


        <div class='col-sm-9'>
            <h4>Freelancing</h4>
            <h4>Data Analyst and ML Engineer</h4>
            <ul>
                <li>Worked alongside a team of AI to develop,test, deploy a model that effectively detect fire
                    ,explosion from a video stream in real time and send notification message with location and exact time.</li>
                <li>Worked on other specifically computer vision projects related to image classification and
                    detection and APIs creation and successfully deployed multiple Artificial Intelligence projects
                    on Hureko and AWS Cloud</li>
            </ul>
        </div>

        <div class='col-sm-3'>
            <h5>2020 – Present</h5>
        </div>



    </div>
    
    </div>    
{% endblock 'content' %}