<!DOCTYPE html>
<html lang="en">
<head>
   <style>
    body {
        background-color: skyblue;
        height: 100vh; /* Set the body to the full viewport height */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    }
    
    h1 {
        margin: 0; /* Remove default margin
    }
   </style>
    <title>Student Information</title>
</head>
<body>

     <h1 align center> Name {{name}}</h1>
     <h1> Registration  {{registration}}</h1>
     <h1> fee {{fee}}</h1>
     <h1> Semester  {{semester}}</h1>
     
  
</body>
</html>
